/*RESET CSS*/
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--preta);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: white;
}

/* MENU TOPO*/

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black' , Times;
    font-size: 40px;
}

header nav a {
    color: #aaaaaa;
    margin-right: 10px;
    transition: .2s ease all;
}

header nav a:hover {
    color:#fff;
    font-size: 18px;
    transition: .2s ease all;
    text-decoration: underline;
}

/*FILME PRINCIPAL*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);
    background: url('../img/capa-prison.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filme-principal:hover {
  height: 650px;
  transition: .5s ease-in-out all;
  opacity: 0.6;
}

.filme-principal {
    transition: .5s ease-in-out all;
  }

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 20px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}
.botoes i {
   margin-right: 10px;
}

.container {
    margin-left: 25px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes {
    margin-top: 15px;
}

h4 {
    color: #aaaaaa;
    margin-left: 15px;
    padding-bottom: 8px;
}

.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menus input {
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-right: 5px;
    background-color:white
}

.menus input::placeholder {
    color:#141414;
}

.menus input:hover::placeholder {
    color: transparent;
}

.fa-globe {
    padding: 3px;
    margin-left: 15px;
    margin-right: 5px;
    text-align: center;
}
.fa-globe p {
    font-size: 10px;
}

.fa-globe:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.fa-search:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.item:hover::after {
    visibility: visible;
  }

  .item::after {
    background: url(http://i.stack.imgur.com/Iy23q.png) no-repeat;
    background-position: 45% 55%;
    content: 'Assita agora:';
    height: 50%;
    left: 0;
    position: absolute;
    top: 20%;
    visibility: hidden;
    width: 100%;
    text-align: center;
    line-height: 230px;
    color: #141414;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
  }

  .item:hover {
    transform: scale(1.02);
}


